<template>
  <Navbar>
    <template #content>
      <v-main>
        <router-view />
      </v-main>
    </template>
  </Navbar>
</template>

<script lang="ts">
import Navbar from "@/components/Navbar.vue";
import { Vue, Component } from "vue-property-decorator";

@Component({
  components: {
    Navbar,
  },
})
export default class AppView extends Vue {}
</script>
