<template>
  <nav class="breadcrumb">
    <ul>
      <li v-for="(item, index) in items" :key="index">
        <a
          v-if="index !== items.length - 1"
          :href="item.href"
          :class="{ disabled: item.disabled }"
          @click.prevent="handleClick(item)"
        >
          {{ item.title }}
        </a>
        <span v-else>
          {{ item.title }}
        </span>
        <span v-if="index !== items.length - 1" class="separator"> / </span>
      </li>
    </ul>
  </nav>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IBreadcrumb } from "@/model/Breadcrumb";

const BreadCrumbComponent = Vue.extend({
  name: "BreadCrumbComponent",
  props: {
    items: { type: Array as () => IBreadcrumb[], required: true },
  },
});

@Component
export default class Breadcrumb extends BreadCrumbComponent {
  handleClick(item: IBreadcrumb) {
    if (item.disabled) {
      return;
    }
    this.$router.push(item.href);
  }
}
</script>

<style scoped>
.breadcrumb {
  font-size: 16px;
  display: flex; /* Display breadcrumbs inline */
}

.breadcrumb ul {
  list-style: none; /* Remove the bullet point */
  padding: 0;
  margin: 0;
  display: flex; /* Display list items inline */
}

.breadcrumb li {
  display: flex; /* Display list items inline */
}

.breadcrumb a {
  color: #007bff;
  text-decoration: none;
  display: inline-block; /* Ensure the anchor behaves as a block element */
}

.breadcrumb a:hover {
  text-decoration: underline;
}

.breadcrumb .separator {
  margin: 0 5px; /* Add spacing between breadcrumb items */
}
</style>
