<template>
  <v-card
    class="mx-auto"
    max-width="344"
    @click="navigateToProductPage('product', { productId: id })"
  >
    <v-img height="200px" :src="image" cover></v-img>

    <v-card-title> {{ title }} </v-card-title>

    <v-card-subtitle> {{ tag }} </v-card-subtitle>

    <v-card-actions>
      <v-spacer></v-spacer>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

const CardComponent = Vue.extend({
  name: "CardComponent",
  props: {
    id: {
      type: String,
      required: true,
    },
    image: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    tag: {
      type: String,
      required: true,
    },
  },
});

@Component
export default class Card extends CardComponent {
  navigateToProductPage(
    destination: string,
    params: { [key: string]: string }
  ) {
    this.$router.push({ name: destination, params: params });
  }
}
</script>
