<template>
  <v-carousel
    progress
    height="300px"
    cycle
    hide-delimiter-background
    v-if="images && images.length > 0"
  >
    <v-carousel-item v-for="(image, index) in images" :key="index">
      <v-img :src="image" height="100%"> </v-img>
    </v-carousel-item>
  </v-carousel>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

const CarouselComponent = Vue.extend({
  name: "CarouselComponent",
  props: {
    images: Array,
  },
});

@Component
export default class Carousel extends CarouselComponent {}
</script>
