<template>
  <v-app>
    <v-container fluid>
      <v-row>
        <v-app-bar app class="bg-app-bar">
          <v-col md="3" class="text-right" v-if="!isMobile"> </v-col>
          <v-col md="3" class="text-right">
            <v-toolbar-title>
              <v-img
                @click="navigateToPage('home')"
                alt="Vuetify Logo"
                class="shrink image-logo"
                contain
                src="/peak-logo-new-design.png"
                width="100"
            /></v-toolbar-title>
            <v-spacer></v-spacer>
          </v-col>
          <v-col md="3" class="text-right">
            <v-btn
              outlined
              size="small"
              :style="buttonStyle"
              @click="navigateToPage('cart')"
            >
              <v-icon>mdi-cart</v-icon>
              Cart
            </v-btn>
          </v-col>
          <v-col md="3" class="text-right" v-if="!isMobile"> </v-col>
        </v-app-bar>
      </v-row>
    </v-container>
    <slot name="content"></slot>
  </v-app>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

const NavbarComponent = Vue.extend({
  name: "NavbarComponent",
});

@Component
export default class Navbar extends NavbarComponent {
  public drawer = false;
  public isMobile = false;
  public buttonStyle = {
    color: "white",
    fontWeight: "bold",
  };

  navigateToPage(destination: string) {
    if (this.$route.path == "/" && destination == "home") {
      return;
    }
    if (this.$route.path == "/cart" && destination == "cart") {
      return;
    }
    this.$router.push({ name: destination });
  }

  toggleDrawer() {
    this.drawer = !this.drawer;
  }

  created() {
    this.isMobile = this.$vuetify.breakpoint.xsOnly;
  }
}
</script>

<style>
.bg-app-bar {
  background: linear-gradient(#ee4d2d, #ff7337);
}
.image-logo {
  cursor: pointer;
}
</style>
