<template>
  <v-container>
    <v-row>
      <v-col md="3" v-if="!isMobile"> </v-col>
      <v-col sm="12" md="6">
        <v-card>
          <div class="header">
            <v-card-title>Shopping Cart</v-card-title>
            <div class="text-right">
              <v-btn
                @click="removeAllFromCart()"
                text
                icon
                :style="deleteCartStyle"
              >
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </div>
          </div>
          <v-list dense>
            <v-list-item v-for="item in cart.cart" :key="item.id">
              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
                <v-list-item-subtitle
                  >Price: {{ item.price }}</v-list-item-subtitle
                >
                <v-list-item-subtitle v-if="item.quantity">
                  Quantity: {{ item.quantity }}
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <div class="button-group">
                  <v-btn @click="incrementQuantity(item.id)" text icon>
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                  <v-btn @click="decreaseQuantity(item.id)" text icon>
                    <v-icon>mdi-delete</v-icon>
                  </v-btn>
                </div>
              </v-list-item-action>
            </v-list-item>
          </v-list>
          <v-container>
            <v-row>
              <v-col md="6">
                <div class="price">Total Price: {{ totalPrice }}</div>
              </v-col>
              <v-col md="6" class="text-right">
                <v-btn outlined size="small" color="#ee4d2d">
                  <v-icon>mdi-cash</v-icon>
                  Pay now
                </v-btn>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-col>
      <v-col md="3" v-if="!isMobile"> </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { IProductPayload } from "@/model/Product";
import { Component, Vue } from "vue-property-decorator";
import { mapActions, mapState } from "vuex";

const CartPage = Vue.extend({
  name: "CartPage",
  computed: {
    ...mapState(["cart"]),
  },
  methods: {
    ...mapActions("cart", [
      "removeAllFromCart",
      "incrementQuantity",
      "decreaseQuantity",
    ]),
  },
});

@Component({
  components: {},
})
export default class CartView extends CartPage {
  public isMobile = false;
  public deleteCartStyle = {
    padding: "20px",
  };
  get totalPrice(): number {
    return this.$store.state.cart.cart.reduce(
      (total: number, item: IProductPayload) => {
        return total + item.price * (item.quantity || 0);
      },
      0
    );
  }

  created() {
    this.isMobile = this.$vuetify.breakpoint.xsOnly;
  }
}
</script>

<style>
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  font-weight: bold;
}
</style>
