<template>
  <v-container fluid>
    <v-row>
      <v-col md="3"> </v-col>
      <v-col md="6">
        <Carousel :images="images"></Carousel>
      </v-col>
      <v-col md="3"> </v-col>
    </v-row>
    <v-row>
      <v-col md="3"> </v-col>
      <v-col md="6">
        <v-container>
          <v-row>
            <v-col
              v-for="(product, index) in productResponse.products.slice(0, 9)"
              :key="index"
              col="12"
              sm="12"
              md="12"
              lg="4"
            >
              <Card
                :id="product.id.toString()"
                :image="`${product.photos[0]}`"
                :title="product.title"
                :tag="product.tags.join()"
              />
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col md="3"> </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { IProduct } from "@/model/Product";
import { getProductApi } from "@/api/getProduct";
import { AxiosError, AxiosResponse } from "axios";
import Swal from "sweetalert2";
import Carousel from "@/components/Carousel.vue";
import Card from "@/components/Card.vue";

const HomePage = Vue.extend({
  name: "HomePage",
});

@Component({
  components: {
    Carousel,
    Card,
  },
})
export default class HomeView extends HomePage {
  public isMobile = false;
  public productResponse: IProduct = { products: [] };
  public images: string[] = ["/sales.png", "/sales.png", "/sales.png"];

  created() {
    this.isMobile = this.$vuetify.breakpoint.xsOnly;
  }

  async mounted() {
    try {
      const response: AxiosResponse<IProduct> = await getProductApi();
      if (response.status === 200) {
        this.productResponse.products = response.data.products;
      }
    } catch (error: unknown) {
      const axiosError = error as AxiosError<unknown>;
      Swal.fire({
        icon: "error",
        title: "Please try again...",
        text: axiosError.message,
      });
    }
  }
}
</script>
