<template>
  <v-container fluid>
    <v-row>
      <v-col md="3" v-if="!isMobile"> </v-col>
      <v-col sm="12" md="6">
        <Breadcrumb :items="breadCrumb"></Breadcrumb>
      </v-col>
      <v-col md="3" v-if="!isMobile"> </v-col>
    </v-row>
    <v-row>
      <v-col md="3"> </v-col>
      <v-col md="6">
        <v-container v-if="currentProduct && currentProduct != undefined">
          <v-row>
            <v-col md="6">
              <Carousel :images="currentProduct.photos"></Carousel>
            </v-col>
            <v-col md="6">
              <p :style="topicStyle">
                {{ currentProduct.title }}
              </p>
              <p>{{ currentProduct.description }}</p>
            </v-col>
          </v-row>
          <v-row>
            <v-col sm="12" md="6">
              <p :style="topicStyle">
                {{ "Price: $" + currentProduct.price }}
              </p>
            </v-col>
            <v-col sm="12" md="6">
              <div class="quantity-container">
                <div class="wrapper">
                  <p :style="topicStyle">Quantity</p>
                  <button
                    class="btn btn--minus"
                    @click="onChangeProductQuantity(-1)"
                    type="button"
                    name="button"
                  >
                    -
                  </button>
                  <input
                    class="quantity"
                    type="number"
                    name="name"
                    min="0"
                    :value="productQuantity"
                  />
                  <button
                    class="btn btn--plus"
                    @click="onChangeProductQuantity(1)"
                    type="button"
                    name="button"
                  >
                    +
                  </button>
                </div>
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col sm="12" md="6"> </v-col>
            <v-col sm="12" md="6">
              <v-btn color="#ee4d2d" style="color: white" @click="addCart()"
                >Add to cart</v-btn
              >
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col md="3"> </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import Breadcrumb from "@/components/Breadcrumb.vue";
import { IBreadcrumb } from "@/model/Breadcrumb";
import { IProduct, IProductPayload } from "@/model/Product";
import { AxiosError, AxiosResponse } from "axios";
import { getProductApi } from "@/api/getProduct";
import Swal from "sweetalert2";
import Carousel from "@/components/Carousel.vue";

const ProductPage = Vue.extend({
  name: "ProductPage",
});

@Component({
  components: { Breadcrumb, Carousel },
})
export default class ProductView extends ProductPage {
  public isMobile = false;
  public productId = 0;
  public allProduct: IProduct = { products: [] };
  public productQuantity = 1;
  public currentProduct: IProductPayload | undefined = {
    id: 0,
    title: "",
    description: "",
    photos: [],
    price: 0,
    tags: [],
  };
  public breadCrumb: IBreadcrumb[] = [
    {
      title: "Home",
      disabled: false,
      href: "/",
    },
    {
      title: "",
      disabled: true,
      href: "product",
    },
  ];
  public topicStyle = {
    fontSize: "18px",
    fontWeight: "bold",
  };
  public quantityStyle = {
    fontSize: "18px",
    fontWeight: "bold",
  };
  public buttonStyle = {
    color: "white",
  };

  addCart() {
    if (
      this.currentProduct &&
      this.currentProduct.id &&
      this.productQuantity > 0
    ) {
      const productToAdd: IProductPayload = JSON.parse(
        JSON.stringify(this.currentProduct)
      );
      productToAdd.quantity = this.productQuantity;
      this.$store.dispatch("cart/addToCart", productToAdd);
      Swal.fire({
        icon: "success",
        title: "Add product to cart success",
        showConfirmButton: false,
        timer: 1500,
      });
    } else {
      Swal.fire({
        icon: "error",
        title: "Invalid Product",
        text: "Please select a valid product and quantity.",
      });
    }
  }

  getProductFromIndex(index: number) {
    const product = this.allProduct.products.find(
      (product) => product.id === index
    );
    return product;
  }

  onChangeProductQuantity(number: number) {
    this.productQuantity += +number;
    !isNaN(this.productQuantity) && this.productQuantity > 0
      ? this.productQuantity
      : (this.productQuantity = 0);
  }

  created() {
    this.isMobile = this.$vuetify.breakpoint.xsOnly;
  }

  async mounted() {
    this.productId = parseInt(this.$route.params.productId);
    try {
      const response: AxiosResponse<IProduct> = await getProductApi();
      if (response.status === 200) {
        this.allProduct.products = response.data.products;
        this.currentProduct = this.getProductFromIndex(this.productId);
        if (this.currentProduct != undefined) {
          this.breadCrumb[1].title = this.currentProduct.title;
        }
      }
    } catch (error: unknown) {
      const axiosError = error as AxiosError<unknown>;
      Swal.fire({
        icon: "error",
        title: "Please try again...",
        text: axiosError.message,
      });
    }
  }
}
</script>

<style>
.quantity-container {
  display: flex;
  align-items: center;
}
.quantity-container p {
  margin-right: 10px;
}
.wrapper {
  height: 30px;
  display: flex;
}
.quantity {
  border: none;
  text-align: center;
  width: 30px;

  font-size: 16px;
  color: #43484d;
  font-weight: 300;
  border: 1px solid #e1e8ee;
}
.btn {
  border: 1px solid #e1e8ee;
  width: 30px;
  background-color: #e1e8ee;
  cursor: pointer;
}
button:focus,
input:focus {
  outline: 0;
}
.btn-add-cart {
  color: "white";
}
</style>
